.app {
  padding: 10%;
  width: 100%;
}
.title {
  text-align: center;
}

.search-input {
  height: 35px;
}

.search-button:disabled:hover {
  border-color: transparent;
  cursor: not-allowed;
}

.repository-container {
  img {
    width: 100px;
    height: 100px;
  }
}

.pagination {
  display: flex;
  justify-content: space-around;

  .child {
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;

    &.child-dot {
      cursor: not-allowed;
    }
  }
  .child:hover {
    background-color: rgb(65, 64, 64);
  }
}
