.app {
  padding: 10%;
  width: 100%;
}
.title {
  text-align: center;
}

.search-input {
  height: 35px;
}

.search-button:disabled:hover {
  border-color: transparent;
  cursor: not-allowed;
}

.repository-container {
  img {
    width: 100px;
    height: 100px;
  }
}

.pagination {
  display: flex;
  justify-content: space-around;

  .child {
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;

    &.child-dot {
      cursor: not-allowed;
    }
  }
  .child:hover {
    background-color: rgb(65, 64, 64);
  }
}

.repository-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card-container {
  display: flex;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: space-around;
}
