.app {
  padding: 10%;
  width: 100%;
}
.title {
  text-align: center;
}

.search-input {
  height: 35px;
}

.search-button:disabled:hover {
  border-color: transparent;
  cursor: not-allowed;
}

.repository-container {
  img {
    width: 100px;
    height: 100px;
  }
}
